.landingWrap {
  height: 100vh;
  width: 100%;
  background: url("../img/California.jpeg") no-repeat 50% 0px;
  background-size: cover; }

.landingContainer {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.landingContainer h1 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  letter-spacing: 2px;
  font-weight: lighter; }

.landing-title-cali {
  font-family: "Yesteryear";
  line-height: 0.8;
  font-size: 4em; }

.landing-title-eye {
  font-size: 7em; }

@media (max-width: 600px) {
  .landingContainer h1 {
    font-size: 4rem; } }
@media (max-width: 400px) {
  .landingContainer h1 {
    font-size: 3rem; } }
.navContainer header {
  position: fixed;
  width: 100%;
  display: flex;
  height: 84px;
  align-items: center;
  justify-content: space-around;
  font-family: Raleway;
  overflow-x: hidden; }

.navBGON {
  background-color: rgba(0, 0, 0, 0.92);
  transition: all 0.5s ease-in-out; }

#navHeader {
  transition: all 0.5s ease-in-out; }

.navContainer li, .navContainer ul {
  display: inline-block; }

.navContainer h1 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: lighter; }

.navContainer a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 15px 25px;
  transition: all 0.25s ease-in-out;
  transition-property: background-color; }

.navContainer a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease-in-out;
  transition-property: background-color; }

.navDropdown {
  display: none;
  height: auto;
  width: 60px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer; }

.navX {
  font-size: 3.2rem;
  color: white;
  display: block;
  cursor: pointer;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 8px; }

.navList2 {
  display: none;
  text-align: center; }

.navList2 a {
  width: 100%; }

@media (max-width: 950px) {
  .navContainer header {
    position: fixed;
    width: 100%;
    display: block;
    height: auto; }

  .navLogo, .navList {
    display: none; }

  .navDropdown {
    display: block; }

  .navList {
    text-align: center; }

  .navContainer li {
    padding: 15px;
    width: 100%; } }
@media (min-width: 950px) {
  .navX, .navDropdown, .navList2 ul {
    display: none; } }
.aboutWrap {
  height: auto;
  width: 100%;
  background-color: white;
  overflow-x: hidden; }

.aboutContainer {
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center; }

.aboutContainer div {
  width: 98%;
  height: 94%;
  background: linear-gradient(#f9fbff, #fcfcfc);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.aboutHeader {
  height: 25vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: Raleway; }

.aboutHeaderDiv h1 {
  color: black;
  font-size: 5.1rem;
  letter-spacing: 2px;
  font-family: Raleway;
  font-weight: lighter; }

.aboutHeaderDiv {
  height: 25vh;
  width: 100%;
  background-color: white;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: Raleway; }

.aboutLocation, .addressDiv {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  line-height: 1.3; }

.aboutText {
  font-family: Raleway;
  font-size: 1.3rem;
  line-height: 1.3; }

.aboutText, .aboutImg, .contactContainer {
  box-shadow: 0 1px 15px -8px black;
  padding: 125px 0px; }

.aboutText p {
  padding: 10px;
  width: 600px; }

.aboutImg img {
  object-fit: contain;
  height: auto;
  width: 600px; }

.aboutText {
  background-color: red;
  width: 100%;
  height: 100%; }

.aboutImg {
  background-color: blue;
  width: 100%;
  height: 100%; }

.yelpIcon {
  height: auto;
  width: 100px; }

@media (max-width: 1200px) {
  .aboutText p, .aboutImg img {
    width: 100%; } }
@media (max-width: 950px) {
  .aboutLocation {
    display: none; }

  .aboutHeader {
    grid-template-columns: 1fr; }

  .aboutContainer {
    grid-template-columns: 1fr; }

  .aboutImg img {
    object-fit: contain;
    height: auto;
    width: 50%;
    min-width: 300px; }

  .aboutText {
    padding: 50px; } }
@media (max-width: 950px) and (max-width: 650px) {
  .aboutText {
    padding: 10px; } }
@media (min-width: 951px) {
  .aboutHeader {
    grid-template-columns: 1fr 1fr; } }
.galleryWrap {
  height: 100vh;
  background: url("../img/California2.jpeg") no-repeat center;
  background-size: cover; }

.galleryContainer {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.galleryHeader {
  height: 25vh;
  width: 100%;
  background-color: transparent;
  display: grid;
  justify-grid: center;
  align-items: center;
  grid-template-columns: 1fr;
  text-align: center; }

.addressDiv {
  display: flex;
  flex-direction: column; }

.galleryHeaderText {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.galleryHeader h1 {
  color: black;
  font-size: 5.1rem;
  letter-spacing: 2px;
  font-family: Raleway;
  font-weight: lighter; }

.galleryBox {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.galleryWindow {
  height: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row; }

.galleryWindow img {
  display: inline-block;
  object-fit: contain;
  width: auto;
  height: 100%;
  padding: 5px; }

.galleryWindow::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 12px; }

.galleryWindow::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 12px;
  height: 12px; }

@media (max-width: 950px) {
  .addressDiv {
    display: none; } }
.contactWrap {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.contactContainer {
  height: auto;
  width: 85%;
  max-width: 1224px;
  background: linear-gradient(#f9fbff, #fcfcfc);
  padding: 25px; }

form {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: Raleway;
  line-height: 2;
  padding: 25px;
  font-size: 1.3rem; }

form div {
  width: 100%;
  margin: auto; }

.alert {
  text-align: center;
  font-family: Raleway;
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
  background-color: grey;
  width: 95%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 15px -8px black;
  display: none; }

form input, form textarea {
  display: block;
  width: 95%;
  margin: auto; }

form textarea {
  height: 155px; }

form input {
  margin-bottom: 20px;
  height: 25px; }

.contactContainer h1 {
  color: black;
  font-size: 5.1rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: Raleway;
  font-weight: lighter; }

button {
  font-size: 1.3rem;
  padding: 5px 50px;
  margin-top: 25px;
  font-family: Raleway;
  margin-left: 12px;
  width: 95%;
  border: none; }

label {
  margin-left: 10px; }

@media (max-width: 950px) {
  form {
    height: 60%;
    width: 100%;
    grid-template-columns: 1fr; }

  button {
    margin-left: 15px; } }
@media (max-width: 650px) {
  .contactContainer {
    width: 98%; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

footer .footerDiv {
  height: auto;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  flex-direction: column; }

footer {
  color: white;
  font-family: Raleway;
  font-weight: lighter;
  overflow-x: hidden; }

.footerLogo {
  height: auto;
  background-color: black;
  padding: 50px;
  text-align: center; }

.footerNav ul li {
  list-style: none; }

.footerNav ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: Raleway;
  font-size: 1.3rem;
  line-height: 1.5; }

.footerAddressDiv, .footerContactDiv {
  line-height: 2;
  font-size: 1.2rem; }

.footerAddressDiv, .business {
  margin-left: -20px; }

.footerCopy {
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px 0 15px 0; }

@media (max-width: 1200px) {
  footer .footerDiv {
    grid-template-columns: 1fr 1fr; }

  .footerDiv div {
    padding: 20px;
    text-align: left;
    width: 100%; } }
@media (max-width: 620px) {
  footer .footerDiv {
    grid-template-columns: 1fr; }

  .footerDiv div {
    text-align: left;
    width: 300px;
    margin: auto; } }

/*# sourceMappingURL=index.css.map */
